<!-- begin:sidebar -->
<div class="col-md-3 col-md-pull-9 sidebar">
  <div class="widget widget-sidebar widget-white">
    <div class="widget-header">
      <h3>Modifier mon profil</h3>
    </div>
    <ul>
      <li><a href="#info_perso">Informations personnelles</a></li>
      <li><a href="#adresse">Adresse</a></li>
      <li><a href="#banque">Compte bancaire</a></li>
      <li><a href="#mdp">Mot de passe</a></li>
      <li><a href="#valider">Valider</a></li>
    </ul>
  </div>
</div>
<!-- end:sidebar -->