<div class="row">
  <div class="col-md-12">
    <div class="heading-title heading-title-alt">
      <h3>Listings meeting the search criteria</h3>
    </div>
  </div>
</div>
<!-- begin:sorting -->
<div class="row sort">
  <div class="col-md-4 col-sm-4 col-xs-3">

    <%= link_to listings_path, {:class => "btn btn-success"} do %>
        <i class="fa fa-th"></i>
    <% end %>
    <%= link_to listings_list_path, {:class => "btn btn-default"} do %>
        <i class="fa fa-list"></i>
    <% end %>


    <span>Show <strong>6</strong> of <strong>30</strong> result.</span>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-9">
    <form class="form-inline" role="form">
      <span>Sort by : </span>
      <div class="form-group">
        <label class="sr-only" for="sortby">Sort by : </label>
        <select class="form-control">
          <option>Most Recent</option>
          <option>Price (Low &gt; High)</option>
          <option>Price (High &gt; Low)</option>
          <option>Most Popular (Low &gt; High)</option>
        </select>
      </div>
      <span>Show : </span>
      <div class="form-group">
        <label class="sr-only" for="show">Show : </label>
        <select class="form-control">
          <option>6</option>
          <option>10</option>
          <option>15</option>
          <option>20</option>
          <option>25</option>
          <option>50</option>
          <option>100</option>
        </select>
      </div>
    </form>
  </div>
</div>
<!-- end:sorting -->