<%# encoding: utf-8 %>

<%= render "listings/header_listings" %>

<div id="content">
  <div class="container">
    <div class="row">

      <%= render "listings/search_grid" %>

      <%= render "listings/sidebar" %>

    </div>


  </div>
</div>