<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">

      <%= render "listings/managelistings/index" %>

      <%= render "listings/managelistings/sidebar" %>

    </div>
  </div>
</div>