<%= render "listings/show/header_detail" %>

<div id="content">
  <div class="container">
    <div class="row">
      <%= render "listings/show/detail" %>

      <%= render "listings/show/sidebar" %>
    </div>
  </div>
</div>

