<%# encoding: utf-8 %>

<div id="email">
  <p>Bonjour <%= @order.buyer.first_name %>,</p>

  <p>Votre demande pour l'annonce <%= @order.listing.name %> vient d'expirer.</p>

  <p>Pour échanger avec <%= @order.seller.first_name%>, vous pouver envoyer un message depuis notre plateforme sécurisée.</p>

  <p><%= link_to "J'envoie un message", edit_listing_order_url(@order.listing_id,@order.id , :host => "https://airmarket.herokuapp.com")%> </p>

  <p>Bonne journée !</p>

</div>