<!-- begin:testimony -->
<div id="testimony" style="background-image: url(.././images/img17.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div id="testislider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(.././images/team01.jpg)"></div>
                <div class="testimony-content">
                  <h3>Jane Doe</h3>
                  <blockquote>
                    <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis</p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(.././images/team02.jpg)"></div>
                <div class="testimony-content">
                  <h3>Cen Lung</h3>
                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-container">
                <div class="testimony-image" style="background: url(.././images/team03.jpg)"></div>
                <div class="testimony-content">
                  <h3>Julia</h3>
                  <blockquote>
                    <p>Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis, ante ipsum cursus augue.</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#testislider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#testislider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end:testimony -->