<!-- begin:sidebar -->
<div class="col-md-3 col-md-pull-9 sidebar">
  <div class="widget widget-sidebar widget-white">
    <div class="widget-header">
      <h3>Suivi</h3>
    </div>
    <ul>
      <li><%= link_to "Mes ventes", sales_path %></li>
      <li><%= link_to "Mes achats", purchases_path %></li>
    </ul>
  </div>
</div>
<!-- end:sidebar -->