<%# encoding: utf-8 %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @order.buyer_id == current_user.id %>
            <p>Envoyez un message à <%= @order.seller.first_name %> pour en savoir plus sur sa demande</p>
        <% elsif @order.seller_id == current_user.id %>
            <p>Envoyez un message à <%= @order.buyer.first_name %> pour en savoir plus sur sa demande</p>
        <%end%>

        <%= render "messages/form" %>
      </div>
    </div>
  </div>
</div>