<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">



      <%= render "orders/edit/detail" %>

      <%= render "orders/edit/sidebar" %>

    </div>
  </div>
</div>