<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">
      <%= render "orders/payout/detail" %>
      <%= render "admin/sidebar" %>
    </div>
  </div>
</div>
