<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">

      <%= render "orders/orders/sales" %>

      <%= render "orders/orders/sidebar" %>

    </div>
  </div>
</div>





