<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="jumbotron center">
        <h1>Annulation</h1>
        <p>Merci de prendre contact avec l'équipe AirMarket afin de vous accompagner lors de l'annulation</p>
      </div>
    </div>
  </div>
</div>