<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">

        <h1>Conditions générales</h1>

        <p>Merci de prendre contact avec l'équipe AirMarket afin de vous accompagner lors de l'annulation</p>

    </div>
  </div>
</div>