<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>Pending</p>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <tbody>
        <% @pending.each do |order| %>
            <tr>
              <td><%= link_to "Expired #{order.id}", edit_admin_order_path(order) if order.id %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>