<!-- begin:content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-md-push-3" >
        <h1>ADMIN</h1>
        <div class="row">
          <%= render "admin/admin/payout" %>
        </div>

        <div class="row">
          <%= render "admin/admin/pending" %>
          <%= render "admin/admin/validated" %>
        </div>

      </div>

      <%= render "admin/sidebar" %>
    </div>
  </div>
</div>
<!-- end:content -->