<%# encoding: utf-8 %>

<div id="wrapper-breadcrumbs">
  <div class="container clearfix">
    <h1 class="page-name pull-left">Excursion en catamaran</h1>
    <div id="breadcrumbs" class="hidden-xs pull-right">
      <span xmlns:v="http://rdf.data-vocabulary.org/#">
        <span typeof="v:Breadcrumb"><a href="https://www.sapapaya.com/martinique" rel="v:url" property="v:title">Accueil</a>
          <span class="slash">/</span>
          <span rel="v:child" typeof="v:Breadcrumb"><a href="https://www.sapapaya.com/martinique/experience/" rel="v:url" property="v:title">Expériences</a>
            <span class="slash">/</span>
            <strong class="breadcrumb_last">Excursion en catamaran</strong></span></span></span></div>	</div>
</div>