<%# encoding: utf-8 %>

<!-- begin:footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>La société</h3>
          <ul class="list-unstyled">
            <li><%= link_to "A propos", about_path %></li>
            <li><%= link_to "Conditions générales", terms_of_service_path %></li>
          </ul>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>Je suis un acheteur</h3>
          <ul class="list-unstyled">
            <li><a href="#">Comment ça fonctionne ?</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h3>Je suis un vendeur</h3>
          <ul class="list-unstyled">
            <li><a href="#">Comment ça fonctionne ?</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <!-- break -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <h2>Airmarket.</h2>
          <address>
            <strong>Real estate theme.</strong><br>
            9.5 Main Street, Jjrn Plrt Btl<br>
            <br>
            Telp. : +62-345678910<br>
            Email : hello@airmarket.com
          </address>
        </div>
      </div>
      <!-- break -->
    </div>
    <!-- break -->

    <!-- begin:copyright -->
    <div class="row">
      <div class="col-md-12 copyright">
        <p>Copyright &copy; 2015 Airmarket All Right Reserved.</p>
        <a href="#top" class="btn btn-success scroltop"><i class="fa fa-angle-up"></i></a>
        <ul class="list-inline social-links">
          <li><a href="#" class="icon-twitter" rel="tooltip" title="" data-placement="bottom" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icon-facebook" rel="tooltip" title="" data-placement="bottom" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icon-gplus" rel="tooltip" title="" data-placement="bottom" data-original-title="Gplus"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
    <!-- end:copyright -->

  </div>
</div>
<!-- end:footer -->