<%# encoding: utf-8 %>

<div id="content">
  <div class="container">
    <div class="row">

      <%= render "devise/registrations/content" %>

      <%= render "devise/registrations/sidebar" %>

    </div>
  </div>
</div>

